<section class="about-find-us">
  <div class="about-find-us-grid">
    @for (section of sections; track section) {
      @if (!section.external) {
        <a
          [routerLink]="section.link"
          class="about-find-us-item"
          >
          <img
            [src]="section.img"
            [alt]="section.name"
            class="about-find-us-image"
            />
            <div class="about-find-us-overlay">{{ section.name }}</div>
          </a>
        }
        @if (section.external) {
          <div
            class="about-find-us-item"
            (click)="openExternal(section.link)"
            >
            <img
              [src]="section.img"
              [alt]="section.name"
              class="about-find-us-image"
              />
              <div class="about-find-us-overlay">{{ section.name }}</div>
            </div>
          }
        }
      </div>
    </section>
