# DB
/server/db/*.db
/server/db/*.db-shm
/server/db/*.db-wal
db/sessions.db

# Uploads (lagrade bilder)
server/uploads/**
!server/uploads/.gitkeep   # behåll mappen tom i git

# Miljö & byggen
.env
/node_modules
/client/dist
/client/.angular
.DS_Store
