<main class="product-details-wrapper">
  @if (loading) {
    <p class="loading">Loading...</p>
  } @else {
    @if (!error) {
      <div class="product-layout">
        <app-product-image [product]="product"></app-product-image>
        <app-product-info [product]="product"></app-product-info>
      </div>
      <app-related-products-carousel
        [currentId]="product.id"
        [categoryId]="product.categoryId"
        class="product-swiper"
      ></app-related-products-carousel>
    } @else {
      <app-missing-product></app-missing-product>
    }
  }

</main>
