<section class="product-grid">
  <h2 class="cart-title">Your Cart</h2>
  @if (cartItems.length === 0) {
    <div class="empty-message">
      Your cart is empty
    </div>
  }

  @for (item of cartItems; track trackById($index, item)) {
    <div class="product-item">
      <div class="product-link" (click)="goToProduct(item.id)">
        <img [src]="item.image" [alt]="item.productName" class="product-image" />
        <div class="product-details">
          <h3>{{ item.productName }}</h3>
          <p class="brand">{{ item.brand }}</p>
          <p class="price">{{ item.price| currency:'USD':'symbol':'1.2-2' }}</p>
        </div>
      </div>
      <div class="quantity-controls">
        <button
          (click)="changeQuantity(item.id, item.quantity - 1)"
          class="quantity-btn"
          >
          -
        </button>
        <span class="quantity-number">{{ item.quantity }}</span>
        <button
          (click)="changeQuantity(item.id, item.quantity + 1)"
          class="quantity-btn"
          >
          +
        </button>
        <button class="remove" (click)="removeItem(item.id)">Remove</button>
      </div>
    </div>
  }

  <div class="total-box">{{ total | currency:'USD':'symbol':'1.2-2' }}</div>
</section>
